/env
/.DS_Store
/covidNews/.DS_Store
/covidNews/__pycache__/
/covidNews/covidNews/.DS_Store
/covidNews/covidNews/__pycache__
/covidNews/searchNews/.DS_Store
/covidNews/searchNews/__pycache__
/covidNews/searchNews/migrations/__pycache__
secrets.sh
.DS_Store
covidNews/.DS_Store
covidNews/searchNews/final.csv
covidNews/searchNews/static/.DS_Store
covidNews/searchNews/static/news/.DS_Store
covidNews/searchNews/static/news/css/.DS_Store
covidNews/searchNews/static/news/img/.DS_Store
covidNews/searchNews/static/news/js/.DS_Store
