/env
/.DS_Store
/covidNews/.DS_Store
/covidNews/__pycache__/
/covidNews/covidNews/.DS_Store
/covidNews/covidNews/__pycache__
/covidNews/searchNews/.DS_Store
/covidNews/searchNews/__pycache__
/covidNews/searchNews/migrations/__pycache__
secrets.sh