{% extends 'news/base.html' %}
{% load static %}

{% block title %}
 	About us
{% endblock %}

{% block body %}
<!-- START: header -->
<header role="banner" class="news-header">
	<div class="container-fluid">
		<div class="col-md-12 text-center news-logo">Meet the Developers
		<span class="line"></span>
		</div>
	</div>
</header>
<!-- END: header -->

<!-- START: main -->
<main>
	<section class="about-section">
		<div class="container">
			<div class="row">
				<div class="dev col-md-6 text-center mb20">
					<h3 style="padding-top: 50px">Imen Graja</h3>
					<section class="dev-img offset-4" style="background-image: url({% static 'news/img/img_ig.jpg' %});" data-stellar-background-ratio="0.5">
					</section>
					<div class="col-md-12 text-center mb50">
						<p></p>
						<p>
						Imen is Computer Science grad, who studied in Tunisia and in France. She moved to the US and her goal is to use her diverse background to make a positive impact in the world as a successful software engineer.
						</p>
						<p>
						Get in touch: <a href="https://www.linkedin.com/in/igraja" target="_blank">LinkedIn</a> | <a href="https://www.github.com/IG-ReDCAD" target="_blank">GitHub</a>
						</p>
					</div>
				</div>
				<div class="col-md-6 text-center mb20">
					<h3 style="padding-top: 50px">Shimolee Jhaveri</h3>
					<section class="dev-img offset-4" style="background-image: url({% static 'news/img/img_sj.jpg' %});" data-stellar-background-ratio="0.5">
					</section>
					<div class="col-md-12 text-center mb50">
						<p></p>
						<p>
						Shimolee is a lawyer-turned-developer interested in backend and data engineering. She worked as an attorney about six years before making the career switch into programming. Her goal is to help build efficient solutions to everyday problems that help increase user productivity. She studied programming at the Hackbright Academy in San Francisco, and graduated as a software engineer in March '20. 
						</p>
						<p>
						Get in touch: <a href="https://linkedin.com/in/shimoleejhaveri" target="_blank">LinkedIn</a> | <a href="https://github.com/shimoleejhaveri" target="_blank">GitHub</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- END: main -->

<!-- START: footer -->
<footer class="about-footer">
	<div class="container">
		<div class="col-md-12 offset-5">
    		<p><a href="/">Back to main page</a></p>
    	</div>
	</div>
</footer> 
<!-- END: footer -->
{% endblock %}