{% extends 'news/base.html' %}
{% load static %}

{% block title %}

 	About us
{% endblock %}

{% block body %}
  	<!-- START: header -->
    <header role="banner" class="news-header">
      <div class="container-fluid">
        <div class="col-md-12 text-center news-logo">Meet the Developers
        </div>
      </div>
    </header>
  	<!-- END: header -->

  	<!-- START: main -->
  	<main>
  		<section class="about-section">
  		  <div class="container">
  				<div class="row">
	          <div class="col-md-6 text-center mb20">
	            <h2 class="mt0">Imen Graja</h2>
	          </div>
	        	<div class="col-md-6 text-center mb20">
	          	<h2 class="mt0">Shimolee Jhaveri</h2>
	          	<section class="dev-img offset-4" style="background-image: url({% static 'news/img/img_sj.jpg' %});" data-stellar-background-ratio="0.5">
							</section>
	          	<div class="col-md-12 text-center mb50">
	          		<p></p>
		           	<p>
		            	Shimolee is an attorney-turned-developer interested in backend and data engineering. Before turning to programming, she worked as an attorney in India for four years. She emigrated to the United States thereafter, and studied programming at the Hackbright Academy.
				    		</p>
				    		<p>
				    			Get in touch: <a href="https://linkedin.com/in/shimoleejhaveri" target="_blank">Shimolee Jhaveri</a>
				    		</p>
	          	</div>
	        	</div>
          </div>
        </div>
  		</section>
  	</main>
  	<!-- END: main -->

  	<!-- START: footer -->
    <footer class="about-footer">
      <div class="container">
        <div class="row">
          <p class="mb0 back-to-top"><a href="/news" class="js-backtotop">Back to main page</a></p>
        </div>
      </div>
    </footer> 
    <!-- END: footer -->
 {% endblock %}