{% extends 'news/base.html' %}
{% load static %}

{% block title %}
  Covid-19 News
{% endblock %}

{% block body %}
<!-- START: header -->
<header role="banner" class="news-header">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand">Covid-19 News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Learn More</a>
                </li>
            </ul>
    </nav>
</header>
<!-- END: header -->

<!-- START: section -->
<div class="news-intro"></div>
<!-- END: section -->

<!-- START: main -->
<main>
    <div class="text-center" style="padding-top: 20px">
        <span class="line"></span>
        <h4>How It Works</h4>
        <h6><p class="text-mute mb20">Our models are trained using headlines of news articles related to Covid-19 or coronavirus to calculate the sentiment behind them.</p></h6>
    </div>

    <section class="news-section">
        <div class="container">
            <script src="/static/news/js/chart.js"></script>
            <div class="row">
                <div class="col-md-6 text-center mb50">
                    <h4 class="mt0" id="chart1">Historical Statistic</h4>
                </div>
                <div class="col-md-6 text-center mb50">
                    <h4 class="mt0" id="chart2">Daily Statistic</h4>
                </div>
            </div>
            <span class="line"></span>
            <div class="row">
                <div class="col-md-12 text-center mb20">
                    <h4>Latest News</h4>
                </div>
            </div>
        </div> 
        <div class="row" style="padding-left: 30px; padding-right: 30px;">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="news-text">
                    <h4 class="mt0 mb10"><a class="article-title" href="{{ post.url }}" target="_blank">{{ post.title }}</a></h4>
                    <p class="article-content">{{ post.description }}</p>
                    <p>
                        <b>{{ post.source }}</b>
                        {{ post.publication_date }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<!-- END: main -->
{% endblock %}